<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="play_res_multi" values="1x|2x|4x|8x" default="1x"/>
		<setting label="30002" type="select" id="play_presentation_mode" values="Fit Screen|Fill Screen|Original Size" default="Fit Screen"/>
		<setting label="30003" type="select" id="play_bilinear_filtering" values="false|true" default="false"/>
	</category>
</settings>
