Source: kodi-game-libretro-play
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-play (>= 1.92.0) | play (>= 1.92.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-play
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Play! - PlayStation 2 Emulator
 Play! - PlayStation 2 Emulator
